*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

html, body {
    min-height: 100%;

}

body{
    font-family: 'Roboto', sans-serif;
}

#form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-container{
    position: relative;
    width: 80%;
    margin: 2rem auto;
}

.input-container input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: #cacaca00;
    border-radius: 5px;
    /* outline: none; */
    color: black;
    font-size: 1rem;
    transition: 0.5s;
}

 .input-container span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1rem;
    color: #444444;
    text-transform: uppercase;
    transition: 0.5s;
 }

.input-container input:valid ~ span,
.input-container input:focus ~ span {
    color: rgb(108, 108, 108);
    transform: translate(10px) translateY(-7px);
    transition: 0.5s;
    font-size: 0.65rem;
    padding: 0 10px;
    background-color: #ffffff;
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    letter-spacing: 0.2rem;
}

.input-container input:valid,
.input-container input:focus {
    border: 1px solid black;
}

#form-btn:disabled{
    font-size: 10px;
    background-color: rgba(74, 74, 74, 0.58);
    width: 7rem;
    padding: 1rem;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0 10px rbga(0, 0, 0, 0.1);
    /* -webkit-transition-duration: 0.3s;
    -webkit-property: box-shadow, transform; */
    margin: 1rem auto;
}

#form-btn{
    font-size: 10px;
    background-color: rgb(7, 100, 44);
    width: 7rem;
    padding: 1rem;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0 10px rbga(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    -webkit-property: box-shadow, transform;
    margin: 1rem auto;
}

#form-btn:hover, #form-btn:focus, #form-btn:active{
    box-shadow: 0 0 20px bga(0, 0, 0, 0.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

.input-text-message {
    display: none;
    font-size: 0.7rem;
    padding: 0.1rem;
    text-transform: uppercase;
}

#list{
    list-style: none;
    width: 100%;
}

#list li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

#list li input {
    display: flex;
    width: auto;

}

.delete-icon{
    padding: 0.7rem;
    color: red;
    background-color: #cacaca00;
    border: 1px solid red;
}

.check-icon{
    display: block;
}

.svg{
    width: 1rem;
    height: 1rem;
}

.rojo {
    background-color: rgb(40, 148, 134);
}

.success {
    outline: 2px solid rgb(0, 255, 0);
}

.error{
    outline: 2px solid red;
}

.show {
    display: block;
    transition: 0.5s;
}

.hidden {
    display: none;
}