*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #072E33;
    background-size: cover;
    background-position: center;
    font-family: 'Julius Sans One', sans-serif;
  }

  form{
    transition: 0.5s ease-out;
  }

  .wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
  }

  .wrapper h1{
    font-size: 36px;
    text-align: center;
  }
  
  .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
  }

  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }

  .input-box input::placeholder{
    color: #ffffff94;
  }

  .input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  }

  .wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }

  .wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  
  }
  .register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
  }
  .register-link p a:hover{
    text-decoration: underline;
  }

.notification{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #33333389;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#modal-noti{
  border-radius: 1rem;
  width: 30%;
  height: 30%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: 'Julius Sans One', sans-serif;
}

#modal-noti p{
  font-size: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#modal-noti button{
  width: 100%;
  height: 45px;
  background: #d6ed06;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.show{
  opacity: 1;
}